body,
#grand-parent,
#parent,
#child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    color: black;
}

body {
    background-color: #022d36;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

#grand-parent {
    background-color: #016064;
    color: white;
}

#parent {
    background-color: #48aaad;
}

#child {
    background-color: #82eefd;
}